body {
    margin: 0;
    font-size: 16px;
    display: block;
    text-align: center;
    line-height: 24px;
    padding: 10px;
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

img {
    max-width: 100%;
    height: auto;
    width: 750px;
    display: block;
    margin: auto;
    border: 5px rgb(138, 138, 171) solid;
}

#img-caption {
    margin: 0 auto;
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
    font-style: italic;
}

#tribute-info {
    margin: 0 auto;
    max-width: 650px;
    text-align: center;
}


ul {
    padding: 0%;
    max-width: 2000px;
    text-align: left;
    font-size: 17px;
}

