body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: rgb(81, 83, 96);
  color: rgb(255, 255, 255);
  font-family: sans-serif;
  font-size: 15px;
  background-image: url("https://wallpaperaccess.com/full/3845329.jpg");
  background-blend-mode: multiply;
}

h1, p {
  text-align: center;
}

form {
  max-width: 550px;
  min-width: 500px;
  margin: 0 auto;
}

fieldset {
  margin: 0%;
}

label {
  display: block;
  margin: 0.50rem 0;
}

textarea {
  text-align: center;
  margin: auto;
  display: block;
}

input[type="submit"] {
  display: block;
  width: 50%;
  margin: 1em auto;
  height: 2em;
  font-size: 1rem;
  background-color: white;
  border-color: white;
  min-width: 300px;
  text-align: center;
} 