* {
    margin: 0;
    scroll-behavior: smooth;
}

#header-img {
    width: 60px;
    object-fit: contain;
    margin-right: 20px;
    clip-path: circle();
}

.logo {
    display: flex;
    align-items: center;
}

.commission {
    font-size: 2em;
    color: rgb(71, 61, 61);
    font-weight: 700;
}

#nav-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: rgba(178, 148, 144, 0.5);
    padding: 10px;
    border-color: rgba(178, 148, 144, 0.264);
    border: solid;
}

.nav-links {
    display: flex;
    list-style: none;
    margin-left: 500px;
}

.nav-links a {
    text-decoration: none;
    padding: 0 10px;
    margin-left: 100px;
    font-size: 1.5em;
    color: black;
}

#email-section {
    margin-top: 110px;
}

#form {
    margin-top: 10px;
}

#email {
    margin-top: 10px;
}

input {
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
}

#submit {
    cursor: pointer;
}

section {
    margin-top: 100px;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

.icon {
    color: rgba(151, 131, 131, 0.807);
    margin: 30px;
}

#features {
    text-align: left;
    max-width: 800px;
    margin: auto;
}

.feature {
    display: flex;
    align-items: center;
    justify-content: center;
}

#video {
    width: 100%;
    margin-top: 10px;
}

#services {
    display: flex;
    justify-content: center;
}

.service {
    border: 1px solid #000;
    border-radius: 3px;
    margin-right: 10px;
    text-align: center;
    background-color: antiquewhite;
}

.service>h2 {
    padding: 15px 0px;
}

.service>p {
    margin: 15px;
}

.service>button {
    background-color: rgba(178, 148, 144, 0.5);
    border-radius: 2px;
    padding: 10px 20px;
    margin: 15px 0px;
    cursor: pointer;
}